<html>
<script src="/static/plugin/jquery/1.11.3/jquery.js"></script>
<body>
 <img id="image"src=""/>
<br/>
 <input type="file"onchange="selectImage(this);"/>
<br/>
 <input type="button"onclick="uploadImage();"value="提交"/>
<script>
var image = '';
function selectImage(file) {
  if (!file.files || !file.files[0]) {
    return;
  }
  var reader = new FileReader();
  reader.onload = function(evt) {
    document.getElementById('image').src = evt.target.result;
    image = evt.target.result;
  }
  console.log(reader);
  reader.readAsDataURL(file.files[0]);
}
function uploadImage() {
  $.ajax({
    type: 'POST',
    url: 'ajax/uploadimage',
    data: {
      image: image
    },
    async: false,
    dataType: 'json',
    success: function(data) {
      if (data.success) {
        alert('上传成功');
      } else {
        alert('上传失败');
      }
    },
    error: function(err) {
      alert('网络故障');
    }
  });

}
</script>
</body>
</html>